<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117523646-1"></script>
		<script>
 		 window.dataLayer = window.dataLayer || [];
 		 function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-117523646-1');
		</script>

		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		<menu> <!--menu bar 70%-->
		<nav>
		<ul>
	        	<li><a href="/">Home</a></li>
	        	<li><a href="/cv">About</a></li>
			<li><a href="/blog">Blog</a></li>
	    	</ul>
		</nav>
		</menu>
	
		<div class="default">
			
			{{ content }}
			
		</div>

		<footer> <!--footer bar 70%-->
	      	<ul>
             		<li><a href="mailto:zf2169@columbia.edu">email</a></li>
        		<li><a href="https://github.com/zf2169">github.com/zf2169</a></li>
		</ul>
		</footer>
	</body>
</html>
